In [13]:
import sys
sys.path.append('../')
from utility.file_utility import FileUtility
import tqdm
import pandas as pd

/mounts/data/proj/asgari/final_proj/1000langs/massive_parallelbible_IF/accessbible.py
    AccBible = AccessBible(AccessBible.path)
    newliving = AccBible.get_subcorpus_bible_by_lang_trans_filtered('eng','newliving')

In [8]:
michael_files=FileUtility.recursive_glob('/mounts/data/proj/asgari/superparallelproj/paralleltext/bibles/corpus/','*.txt')

In [11]:
lang_length=dict()
for x in tqdm.tqdm(michael_files):
    l=len(FileUtility.load_list(x))
    x=x.split('/')[-1][0:3]
    if x not in lang_length:
        lang_length[x]=0
    lang_length[x]=max(l,lang_length[x])

100%|██████████| 1758/1758 [01:57<00:00, 14.93it/s]

In [14]:
df=pd.read_table('/mounts/data/proj/asgari/final_proj/000_datasets/testbib/API/reports/final_rep.tsv')

In [24]:
my_length=dict()
for x ,y in df.groupby('language_iso')['verses'].apply(list).to_dict().items():
    my_length[x]=max(y)

In [31]:
a=set(lang_length.keys())
for x in set(my_length.keys()):
    a.add(x)

In [34]:
report={'iso':[],'michael':[],'ours':[]}

for x in a:
    report['iso'].append(x)
    if x in my_length:
        report['ours'].append(my_length[x])
    else:
        report['ours'].append(0)
    if x in lang_length:
        report['michael'].append(lang_length[x]-15)
    else:
        report['michael'].append(0)

In [38]:
df=pd.DataFrame(report)
df=df.set_index('iso')
df.to_csv('../meta/comparison.tsv',sep='\t')

In [43]:
df

     michael   ours
iso
nnl        0   5057
kqe     7953   7959
chq     7953   5058
mpp     4020   4025
ssx     9482   9490
kgr        0   7947
nzi        0   7953
ceg     7953   7958
ksc     7953   5059
muy     7953   7958
shn        0   7955
bmq     7953   7957
kkl     3830      0
akb     7953   7958
sua     7871   7957
akp        0   7959
zac     7953   7958
ajz     7953   5059
rub        0   5059
gug     7892   5058
maq     7953   7958
kwd     7952   7959
fub     7904   5057
qvw     7950   7644
ksf     7953   5057
nmh        0   5058
kpw     7951   7959
tet        0   5059
bod    23210  23145
ttr        0  31083
..       ...    ...
sdm        0   7751
aer        0   5059
moa        0   7956
dip     7953      0
est    31147   5028
bzj     7768   7953
myk     7953   7958
gnn    15780   5059
gdg     7951   5058
smo    31152   7941
amx     2032      0
acu     7953   7934
biv     7938   7942
agd     7938   7959
yuj     7952   7959
bao     7953   8010
nse        0   5059
war     7951   7957
npy     7953   7797
hne     7953   7959
alt     7952   7950
gid     7953   5058
apt     7947   5056
dru        0   5051
ker        0   7956
mbc     7953   7959
nmz     7953   7951
tpm    31165  30835
moh      874    879
sna    31152   5059

[1622 rows x 2 columns]

In [42]:
df[df['ours']>=df['michael']]

     michael   ours
iso
nnl        0   5057
kqe     7953   7959
mpp     4020   4025
ssx     9482   9490
kgr        0   7947
nzi        0   7953
ceg     7953   7958
muy     7953   7958
shn        0   7955
bmq     7953   7957
akb     7953   7958
sua     7871   7957
akp        0   7959
zac     7953   7958
rub        0   5059
maq     7953   7958
kwd     7952   7959
nmh        0   5058
kpw     7951   7959
tet        0   5059
ttr        0  31083
rmq        0   1151
fuf     7953   7957
kln        0   5059
csk     7953   7954
izz     7953  31095
apr     7938   7959
nxd        0   5057
chz     7953   7958
ndj     7953   7959
..       ...    ...
kew     9443   9448
mlg        0  31091
sri     7952   7957
kvg        0   8075
bdq        0   5059
ncq        0   5059
btx     7908   7954
kyq     7949   7958
kan     7937   7958
ter     7953   7958
ctu     7953  28203
suk     7953   7953
ksr     9613   9624
bxh     4277   4281
sdm        0   7751
aer        0   5059
moa        0   7956
bzj     7768   7953
myk     7953   7958
biv     7938   7942
agd     7938   7959
yuj     7952   7959
bao     7953   8010
nse        0   5059
war     7951   7957
hne     7953   7959
dru        0   5051
ker        0   7956
mbc     7953   7959
moh      874    879

[944 rows x 2 columns]

In [45]:
out_path='/mounts/data/proj/asgari/final_proj/000_datasets/testbib/API/'
len(pd.read_table(out_path+'/reports/final_rep.tsv').language_iso.unique().tolist())

1528

In [48]:
df=pd.read_table(out_path+'/reports/final_rep.tsv')
df[df['trans_ID']=='222']

,language_iso,trans_ID,language_name,verses,source
1707,spa,222,Spanish - Español (América Latina),0,biblecom